<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8 lis">
      <h3>Shopping List</h3>
      von {{name}}, {{vorname}}
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <mat-list #shoes>
        <mat-list-item (click)="openDialog(shoe)" *ngFor="let shoe of typesOfShoes">
          <button mat-button>{{shoe}}</button>
        </mat-list-item>
      </mat-list>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
</div>
